    <!-- Contact Section -->
    <section id="contact" class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center content-section">
                <h2>Contact</h2>
                <p>Looking for more dumb shit?</p>
                <p class="banner-social-buttons">
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn btn-default btn-lg m-2"><i class="fa fa-{{ network.icon }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </section>