    <!-- Download Section -->
    <section id="stories">
        <div class="content-section stories-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2>Band Stories</h2>
                    </div>
                    <div class="col-md-6 col-lg-4" style="font-style: italic;">
                        <p>
                            "Indie Bands helped us reach the audience that we always wanted. Our new fans 
                            say the first thing that interested them was our name. Thanks, Indie Bands!"
                        </p>
                        <p class="text-right">
                            — Wardrobe Function
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-4" style="font-style: italic;">
                        <p>
                            "When we first formed our band, we knew we needed to have a unique name
                            to stand out. Our manager (my brother &amp; our drummer) suggested us 'we
                            need to focus on the music and our name will be less important if we 
                            can succeed in that.'"
                        </p>
                        <p class="text-right">
                            — Untamed Coffee Beans
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-4" style="font-style: italic;">
                        <p>
                            "Well, who'd knew people would keep spelling your name the same after 
                            your changed a 'U' with a 'V'?"
                        </p>
                        <p class="text-right">
                            — MOSQVES
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>